# Android / IntelliJ
*.iml
.idea/
.gradle/
local.properties

# OS
.DS_Store

# Builds
/build/
/app/build/
/app/release/

# Native build
.externalNativeBuild/
.cxx/

# Kotlin
.kotlin/

# Logs
*.log

# Misc
/captures/